@import 'src/styles/vars';


.serie {

  padding-top: 5rem;
  
  &-top {


    &-trailer {
      width: 100%;
    }

    &-infos {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 1.5rem 2rem;
      font-size: 1.1em;
      text-align: center;

      &-titre {
        font-size: 1.1em;
        font-weight: bold;
        margin-bottom: 0.5rem;

      }
      &-genre, &-sortie, &-realise, &-acteurs {
        font-size: 1em;
        margin: 0.5rem 0;
      }
    }
  }

  &-resume {
    background-color: white;
    padding: 1rem;

    &-title {
      padding-bottom: 2rem;
      font-size: 1.2rem;
      font-weight: bold;
      text-align: center;
      color: $colorOrange;
    }

    &-para {
      text-align: center;
      line-height: 1.5rem;
    }
  }
}


@media screen and (min-width: 960px){ 
  .serie {

    &-top{
      display: flex;
      justify-content: center;
      margin: 10rem 0 5rem;

      &-trailer {
        width: 560px;
      }

      &-infos {
        text-align: left;
        width: 28%;


        &-titre, &-genre, &-sortie, &-realise, &-acteurs {
          font-size: 1.5rem;
        }  
      } 
    }

    &-resume {
      padding: 5rem 1rem;
      
      &-title {
        padding-bottom: 3rem;
        font-size: 2rem;
      }
      &-para {
        font-size: 1.5rem;
        line-height: 2rem;
      }
    }
  }
}
