@import 'src/styles/vars';

// lien navbar active
.selected {
  color: $colorOrange;
}
.navbar {
  position: fixed;
  top: 0;
  transition: 0.5s;
  padding: 1rem 0;
  background-color: $colorBlack;
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 2;

  &-logo{
    padding: 0 2rem;
    
    &-svg {
      content: url('../../../styles/assets/images/logo.png');
      width: 200px;
    }
  }
  
  &-links {
    padding-top: 2rem;
    display: flex;
  }

  &-link {
    color:white;
    font-size: 1.2em;
    margin: 0 1.5rem;

    &:hover {
      color: $colorOrange;
      transition: 0.3s;
    }
  } 
  
  &-moving {
    transition: 0.5s;
    padding: 0px 50px;
  }

  &-responsive-top, &-responsive-bottom {
    display: none;
  }
}


// css search bar
.search {
  
  &__input {
    margin: 0 1.2rem;
    padding: 12px 24px;
    height: 25px;
    background-color: transparent;
    transition: transform 250ms ease-in-out;
    font-size: 1.2rem;
    line-height: 18px;    
    color: $colorLightGrey;
    background-image: url("../../../styles/assets/images/icons8-chercher.svg");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
    border-radius: 50px;
    border: 1px solid #575756;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    
    &::placeholder {
        color: #6d6d6c;
    }
    
    &:hover,
    &:focus {
        padding: 12px 0;
        outline: 0;
        border: 1px solid transparent;
        border-bottom: 1px solid $colorOrange;
        border-radius: 0;
        background-position: 100% center;
        transition: 0.3s;
    }
  }
}

// css responsive mobile
@media screen and (max-width: 1000px) {
  
  .form-search {
    margin: 1.4rem auto 0;;
  }

  .navbar {
    display: none;
    
    &-responsive {
      &-top {
        display: flex;
        background-color: $colorBlack;
        padding: 0.5rem 1rem;
        width: 100%;
        z-index: 2;
        position: fixed;
        top: 0;
        height: 80px;
        
        &-logo {
          
          &-svg {
            padding-top: 0.5rem;
            content: url('../../../styles/assets/images/logo_mini.png');
            width: 50px;
          }
        }
      }
      
      &-bottom {
        position: fixed;
        bottom: 0;
        background-color: $colorBlack;
        width: 100%;
        display: flex;
        justify-content: space-between;
        z-index: 2;
        height: 80px;
      }
      
      
      &-link {
        text-align: center;
        color: $colorLightGrey;
        font-size: 1.2em;
        padding: 2rem 0;
        width: 25%;
      }
    }
  }
  
  .selected {
    color: $colorOrange;
    background-color: $colorDarkGrey;
  }
  .search {
    
    &__input {
      font-size: 0.9em;
    }
  }
}

@media screen and (min-width: 960px) and (max-width: 1200px) {
  .navbar {
    &-link {
      margin: 0 1rem;
    }
  }
}
