@import 'src/styles/vars';

.home {
  padding: 1rem;
  margin-top: 6rem;
  
  &-subtitle {
    margin: 2rem 2rem 3rem;
    font-size: 1.8em;
    font-weight: bold;
  }

  &-title {
    margin-bottom: 3rem;
    font-size: 1.4em;
    text-align: center;
    font-weight: bold;
  }

  &-form{

    &-choice{
      margin-bottom: 1rem;
      border: none;
      width: 100%;
      font-size: 1.2em;
      padding: 1rem;
      border-radius: 6px;
      font-family: monospace;
      text-align: center;
      text-align-last: center;
      outline: none;
      background-color: $colorDarkGrey;
      color: $colorLightGrey;
      cursor: pointer;
      font-family: 'Lato';

      &:hover {
        color: $colorOrange;
        box-shadow: 0px 0px 5px 0px $colorOrange;
        transition-duration: 0.1s;
      }

    }

    &-textareabutton {
      
      position: relative;
      padding-bottom: 5rem;

      &:focus-within {
        background-color: white;
        border-radius: 6px;
      }

      &-textarea {
        font-family: 'Lato';
        display: block;
        border: none;
        border-radius: 6px;
        padding: 1rem 2rem;
        font-size: 1.1em;
        width: 100%;
        height: 80px;
        outline: none;
        resize: none;
        overflow: auto;
        
      }
      
      &-button {
        position: absolute;
        padding: 0.5rem;
        display: inline-block;
        color:white;
        background-color: $colorOrange;
        font-size: 1em;
        font-weight: bold;
        border:none;
        border-radius: 6px;
        font-family: 'Lato', sans-serif;
        bottom: 20px;
        right: 20px;

        &-hidden {
          visibility: hidden;
        }
      }
    }
  }

  

  &-com {
    line-height:1.2rem;
    margin-top: 2.5rem;
    background-color: white;
    border-radius: 5px;
    padding: 1rem;
    box-shadow: 0px 0px 5px 1px $colorBlack;

    &-top {
      font-size: 0.8em;
    }
    
    &-util {
      padding: 1.5rem 0 0.5rem;
      color: $colorOrange;
      font-weight: bold;

      &:hover {
        text-decoration: underline;
      }
    }
    
    &-serietitle {
      font-size: 1em;
      padding-bottom: 0.5rem;
      font-weight: bold;    
      
      &:hover {
        text-decoration: underline;
      }
    }      
    
    &-para {
      margin: 1rem 1rem 0;
      font-size: 0.9em;
      color: black;
    }
  }

  &-warning {
    margin: .7rem 0 0;
    bottom: 4rem;
    font-size: .8em;  
  }
}

option {
  background-color: $colorDarkGrey;
}

@media screen and (min-width: 960px){ 
  
  .home {

    &-title {
      margin-top: 5rem;
      font-size: 2em;
    }
    &-com {
      margin: 2rem 5rem 2rem 5rem;
      padding: 1rem;

      &-top {
        font-size: 1em;
      }

      &-util {
        padding: 1.5rem 0 1rem; 
        font-size: 1.1em;      
      }
      
      &-serietitle {
        padding-bottom: 1rem;
        font-size: 1.1em;             
      }
      
      &-para {
        font-size: 1.2em;
        line-height: 2rem;
      }
    }
    &-form{
      margin: 2rem 5rem 0.5rem 5rem;
      display: flex;
      justify-content: space-between;

      &-choice {
        font-size: 1.3em;
        height: 60px;
        width: 30%;
        border-radius: 6px 0 0 6px;
      }
      &-textareabutton {
        width: 70%;

        &-textarea{
          padding: 1.1rem;
          font-size: 1.3em;
          height: 60px;
          width: 100%;
          border-radius: 0 6px 6px 0;
        }
  
        &-button {
          font-size: 1.2em;
        }      
      }
    } 
    &-warning {
      margin: 0 0 0 33%;
      width: 60%;
      bottom: 4rem;  
      font-size: 1em;
    }                 
  }
}
