@import 'src/styles/vars';

.home {
  padding: 1rem;
  margin-top: 1rem;

  &-form{

    &-choice{
      margin-bottom: 2rem;
      border: none;
      width: 100%;
      font-size: 1.2em;
      padding: 1rem;
      border-radius: 6px;
      font-family: monospace;
      text-align: center;

      &:focus {
        box-shadow: 0px 0px 5px 0px $colorOrange;
        transition-duration: 0.3s;
      }
    }
    
    &-textareabutton {
      display: flex;

      &-textarea{
        display: block;
        border: none;
        border-radius: 6px 0 0 6px;
        padding: 1rem;
        font-size: 1.2rem;
        width: 95%;
        height: 85px;
        outline: none;
      
        &:focus {
          box-shadow: 0px 0px 5px 0px $colorOrange;
          transition-duration: 0.3s;
        }
      }
      
      &-button {
        margin: 0;
        padding: 1rem;
        display: block;
        color:white;
        background-color: $colorOrange;
        font-size: 1em;
        font-weight: bold;
        border:none;
        border-radius: 0 6px 6px 0;
        font-family: 'Lato', sans-serif;
      }
    }
  }

  &-com {
    line-height:1.2rem;
    margin-top: 2rem;
  
    &-util {
      padding: 1.5rem 0 0.5rem;
      color: $colorOrange;
      font-weight: bold;    
    }

    &-serietitle {
      padding-bottom: 0.5rem;
      font-weight: bold;               
    }                  
  }
}

@media screen and (min-width: 960px){ 
  
  .home {

    &-title {
      font-size: 2rem;
    }
    &-com {
      padding: 0 5rem;

      &-util {
        padding: 1.5rem 0 1rem; 
        font-size: 1.2rem;      
      }
      
      &-serietitle {
        padding-bottom: 1rem;
        font-size: 1rem;             
      }
      
      &-para {
        font-size: 1.5rem;
        line-height: 2rem;
      }
    }
    &-form{
      padding: 2rem 5rem 2rem 5rem;

      &-choice {
        font-size: 1.5em;
      }

      &-textareabutton {

        &-textarea{
          padding: 1.5rem 1.5rem;
          font-size: 1.5em;
          height: 90px;
        }
  
        &-button {
          padding: 2rem;
          display: block;
        }
      }
    }                  
  }
}
